@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "react-responsive-carousel/lib/styles/carousel.min.css";


@font-face {
    font-family: NexaBold;
    font-weight: bold;
    src: url("/fonts/NexaBold.otf") format("opentype");
}

@font-face {
    font-family: NexaRegular;
    font-weight: normal;
    src: url("/fonts/NexaRegular.otf") format("opentype");
}

@font-face {
    font-family: NexaLight;
    font-weight: lighter;
    src: url("/fonts/NexaLight.otf") format("opentype");
}